
{{> head}}



    {{> navbar }}


   <div class="row">
       
       <div class="col-8">
           <h1>Cocoibi</h1>
           <p> lorem  </p>
       </div>
       

        <div class="col-4">
           <img src="assets/img/cuadro05.jpeg" class="img-thumbnail">
       </div>
       
        </div>


  {{> footer}}


